* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.pagination-container {
  display: flex;
  justify-content: right;
  margin-top: 20px;

}

.pagination-button {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #252e38;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}


.pagination__link--disabled {
  color: #6c757d;
  cursor: default;
  background-color: transparent;
  border-color: transparent;
}
.pagination-container ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-container li {
  margin: 0 5px;
}

.pagination-container li a {
  padding: 5px 5px;
}
/* styles.css */
.home {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.logo {
  font-size: 24px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background-color: #f8f8f8;
  padding: 80px 20px;
  text-align: center;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #666;
}

.features {
  padding: 40px 20px;
  text-align: center;
}

.feature-item {
  margin-bottom: 40px;
}

.feature-item img {
  width: 64px;
  height: 64px;
}

.feature-item h3 {
  font-size: 24px;
  margin: 10px 0;
}

.feature-item p {
  font-size: 16px;
  color: #888;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}